html, body, #app {
  height: 100%;
}

a {
  text-decoration: none !important;
}

.box {
  border-radius: 12px;
  background-color: #2c2c2c;
}

.link-info {
  color: #5ac9e5 !important;
}

.card-nft {
  border-radius: 12px !important;
  border: 1px solid hsla(0,0%,100%,.2) !important;
  background-color: #2e2d2c !important;
  overflow: hidden !important;
  transition: transform 0.2s ease !important;
}

.card-nft-img-wrap {
  position: relative !important;
  width: 100% !important;
  aspect-ratio: 1 / 1 !important;
}

.card-nft-img {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  width: 100% !important;
  height: auto !important;
}

.card-nft-icon {
  color: #fff !important;
}

.input-field {
  border-radius: 12px;
  border: none !important;
}

.input-wrap {
  padding: 1px;
  border-radius: 12px;
}

.focusOff {
  padding: 1px;
  border-radius: 12px;
  background: hsla(0,0%,100%,.2);
}

.focusOn {
  padding: 1px;
  border-radius: 12px;
  background: linear-gradient(90deg,#5ac9e5,#7c5bff);
}

.btn-wrap {
  padding: 1px;
  border-radius: 12px;
  background: hsla(0,0%,100%,.2);
}

.btn-wrap:hover {
  background: linear-gradient(90deg,#5ac9e5,#7c5bff);
}

.btn-wrap-disabled {
  background: hsla(0,0%,100%,.2) !important;
}

.btn-wrap-pending {
  background: linear-gradient(90deg,#5ac9e5,#7c5bff);
}

.btn-pending {
  pointer-events: none;
}
