$body-bg: #F5E1C0;
$body-color: #574038;
$primary: #574038;
$secondary: #86092C;
$info: #F5E1C0;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  info: $info,
);

@import 'node_modules/bootstrap/scss/bootstrap.scss';
